<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sharpen</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Shared Resoures for the Dashboard -->
  <%= render "shared/dashboard_css" %>
  <!-- styles are currently loading from application.css -->
  
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Header -->
  <header id="header">
    <h1 class="logo">
      <a href="#" title="#" class="js-nav-toggler">
        <i class="fa fa-scissors"></i>
      </a>
      <a href="#" title="#">LASTMINUTE<span>LIST</span></a>
    </h1>

    <div class="pageContent">
      <div class="container">
        <ul class="topNavigation">
          <li>
            <div class="btn-group simpleList list-sm">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i>
                <span class="badge">3</span>
              </button>

              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-accounts-add zmdi-hc-fw icon"></i> Followers</span>
                    <span class="pull-right info">109,073</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw icon"></i> Subscribers</span>
                    <span class="pull-right info">26,114</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-assignment-o zmdi-hc-fw icon"></i> Products sold</span>
                    <span class="pull-right info">1,557,669</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i> Awards</span>
                    <span class="pull-right info">14</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-cloud-done zmdi-hc-fw icon"></i> Projects</span>
                    <span class="pull-right info">229</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix text-center">
                    <i class="zmdi zmdi-plus-square icon"></i> See all
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-settings zmdi-hc-fw icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <aside class="aside">
    <!-- User profile -->
    <div class="asideUserProfile">
    <%= image_tag "user_placeholder.jpg", :class => "img-responsive" %>
      
        <span class="name hidden-xs hidden-sm">Julia<br /> Brown-Johnes</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="simpleList asideNavigation">
      <ul>
        <li class="active"><a href="dashboard.html" title="#"><i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span></a></li>
        
        <li><a href="typography.html" title="#"><i class="zmdi zmdi-format-color-text zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Typography</span></a></li>
        
        <li><a href="grid.html" title="#"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Grid</span></a></li>
        
        <li><a href="tables.html" title="#"><i class="zmdi zmdi-view-day zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Tables</span></a></li>
        
        <li><a href="forms.html" title="#"><i class="zmdi zmdi-border-color zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Forms</span></a></li>
      </ul>
    </nav>
  </aside>
  
  <!-- Page Wrap -->
  <div class="pageWrap">

  <!-- Page content -->
    <div class="pageContent extended">
      <div class="container">
        <div class="boxHeader pageBoxHeader clearfix">
          <div class="pull-left">
            <h1 class="pageTitle">
              <a href="#" title="#">Dashboard</a>
            </h1>
            <ol class="breadcrumb">
              <li><a href="dashboard.html">Last Minute List</a></li>
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
        
        <!-- Statsbar -->
        <div class="statsBar">
          <div class="row">
            
            <div class="col-xs-12 col-md-4 i yellow">
              <a href="#" title="#" class="c">
                <h3 class="title">Subscriber Count</h3>
                <div class="num">
                  <%= Subscriber.count(:subscriber_phone_number) %>
                </div>
              </a>
            </div>
            
            <div class="col-xs-12 col-md-4 i pink">
              <a href="#" title="#" class="c">
                <h3 class="title">Messages Sent</h3>
                <div class="num">
                  <%= Message.count %>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 i green">
              <a href="#" title="#" class="c">
                <h3 class="title">Revenue Recovered</h3>
                <div class="num">£12,789
                  <%= number_with_delimiter(@number, :delimiter => ',') %>
                </div>
              </a>
            </div>
          </div>
        </div>

        <p>page content here</p>       


  <div class="visible-xs visible-sm extendedChecker"></div>
  
</body>

  <%= render "shared/dashboard_js" %>

</html>