<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Main Dashboard</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Shared Resoures for the Dashboard -->
  <%= render "shared/dashboard_css" %>
  <link rel="stylesheet" href="font-awesome-animation.min.css">
  <!-- styles are currently loading from application.css -->
  
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Header -->
  <header id="header">
    <h1 class="logo">
      <a href="#" title="#" class="js-nav-toggler">
        <i class="fa fa-scissors"></i>
      </a>
      <a href="#" title="#">LASTMINUTE<span>LIST</span></a>
    </h1>

    <div class="pageContent">
      <div class="container">
        <ul class="topNavigation">
          <li>
            <div class="btn-group simpleList list-sm">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i>
                <span class="badge">3</span>
              </button>
            </div>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-settings zmdi-hc-fw icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <aside class="aside">
    <!-- User profile -->
    <div class="asideUserProfile">
    <%= image_tag "user_placeholder.jpg", :class => "img-responsive" %>
      
        <span class="name hidden-xs hidden-sm">Julia<br /> Brown-Johnes</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="simpleList asideNavigation">
      <ul>
        <li class="active"><a href="/main" title="#"><i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span></a></li>
        
        <li><a href="messages/new" title="#"><i class="zmdi zmdi-smartphone-ring zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">New Alert</span></a></li>
        
        <li><a href="/messages" title="#"><i class="zmdi zmdi-comment-list zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Past Alerts</span></a></li>
        
        <li><a href="/appointments" title="#"><i class="zmdi zmdi-check zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Bookings</span></a></li>
        
        <li><a href="/subscribers" title="#"><i class="zmdi zmdi-face zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Subscribers</span></a></li>
      </ul>
    </nav>
  </aside>
  
  <!-- Page Wrap -->
  <div class="pageWrap">

  <!-- Page content -->
    <div class="pageContent extended">
      <div class="container">
        <div class="boxHeader pageBoxHeader clearfix">
          <div class="pull-left">
            <h1 class="pageTitle">
              <a href="#" title="#">Dashboard</a>
            </h1>
            <ol class="breadcrumb">
              <li><a href="dashboard.html">Last Minute List</a></li>
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
        
        <!-- Statsbar -->
        <div class="statsBar">
          <div class="row">
            
            <div class="col-xs-12 col-md-4 i yellow">
              <a href="#" title="#" class="c">
                <h3 class="title">Subscriber Count</h3>
                <div class="num">
                  <%= Subscriber.count(:subscriber_phone_number) %>
                </div>
              </a>
            </div>
            
            <div class="col-xs-12 col-md-4 i pink">
              <a href="#" title="#" class="c">
                <h3 class="title">Messages Sent</h3>
                <div class="num">
                  <%= Message.count %>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 i green">
              <a href="#" title="#" class="c">
                <h3 class="title">Revenue Recovered</h3>
                <div class="num">£12,789
                  <%= number_with_delimiter(@number, :delimiter => ',') %>
                </div>
              </a>
            </div>
          </div>
        </div>
        
        <!-- Card for Temp Link to Public Page -->
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="box userCard userCardWide">
              <div class="c">
                <a href="#" title="#" class="image">
                  <i class="fa fa-5x fa-globe wow bounceIn text-yellow" data-wow-delay=".2s"></i>
                </a>
                <div class="info rte">
                  <h4 class="name">Public Sign-up Page</h2>
                  <div class="position text-light-gray">Page is outside dashboard when authentication is added</div>

                  <strong>Hair Nail Restaurant</strong><br />
                  Some street No. 554/5A, San Francisco, CA 94925<br />
                </div>
              </div>
            </div>
          </div>       


  <div class="visible-xs visible-sm extendedChecker"></div>
  
</body>

  <%= render "shared/dashboard_js" %>

</html>