<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sharpen</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Shared Resoures for the Dashboard -->
  <%= render "shared/dashboard_css" %>
  <!-- styles are currently loading from application.css -->
  
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Header -->
  <header id="header">
    <h1 class="logo">
      <a href="#" title="#" class="js-nav-toggler">
        <i class="fa fa-scissors"></i>
      </a>
      <a href="#" title="#">LASTMINUTE<span>LIST</span></a>
    </h1>

    <div class="pageContent">
      <div class="container">
        <ul class="topNavigation">
          <li>
            <div class="btn-group simpleList simpleListLighten messages">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-email zmdi-hc-fw icon"></i>
                <span class="badge">6</span>
              </button>
              
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#" title="#" class="clearfix">
                    <img src="tmp/44x44-3.jpg" alt="#" width="44" height="44" class="pull-left">
                    <span class="pull-left">
                      <strong class="text-gray">John Doe</strong><br />
                      <span class="text-gray">Proin vel sapien at risus...</span>
                    </span>
                    <span class="pull-right">22 sec. ago</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <img src="tmp/44x44-1.jpg" alt="#" width="44" height="44" class="pull-left">
                    <span class="pull-left">
                      <strong class="text-gray">Jane Doe</strong><br />
                      <span class="text-gray">Aliquam non accumsan...</span>
                    </span>
                    <span class="pull-right">19 min. ago</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <img src="tmp/44x44-4.jpg" alt="#" width="44" height="44" class="pull-left">
                    <span class="pull-left">
                      <strong class="text-gray">Nick Doe</strong><br />
                      <span class="text-gray">Praesent non hendrerit...</span>
                    </span>
                    <span class="pull-right">1 hour ago</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <img src="tmp/44x44-5.jpg" alt="#" width="44" height="44" class="pull-left">
                    <span class="pull-left">
                      <strong class="text-gray">Andrew Doe</strong><br />
                      <span class="text-gray">Aliquam ligula ante magna...</span>
                    </span>
                    <span class="pull-right">21.09.2015</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix text-center">
                    <i class="zmdi zmdi-plus-square icon"></i> <strong class="text-gray">See all</strong>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group simpleList list-sm">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i>
                <span class="badge">98</span>
              </button>

              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-accounts-add zmdi-hc-fw icon"></i> Followers</span>
                    <span class="pull-right info">109,073</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw icon"></i> Subscribers</span>
                    <span class="pull-right info">26,114</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-assignment-o zmdi-hc-fw icon"></i> Products sold</span>
                    <span class="pull-right info">1,557,669</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-bookmark zmdi-hc-fw icon"></i> Awards</span>
                    <span class="pull-right info">14</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix">
                    <span class="pull-left"><i class="zmdi zmdi-cloud-done zmdi-hc-fw icon"></i> Projects</span>
                    <span class="pull-right info">229</span>
                  </a>
                </li>
                <li>
                  <a href="#" title="#" class="clearfix text-center">
                    <i class="zmdi zmdi-plus-square icon"></i> See all
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" title="#">
              <i class="zmdi zmdi-settings zmdi-hc-fw icon"></i>
            </a>
          </li>
          <li>
            <a href="#" title="#" data-toggle="modal" data-target="#searchModal">
              <i class="zmdi zmdi-search zmdi-hc-fw icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <aside class="aside">
    <!-- User profile -->
    <div class="asideUserProfile">
    <%= image_tag "user_placeholder.jpg", :class => "img-responsive" %>
      
        <span class="name hidden-xs hidden-sm">Julia<br /> Brown-Johnes</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="simpleList asideNavigation">
      <ul>
        <li class="active"><a href="dashboard.html" title="#"><i class="zmdi zmdi-apps zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Dashboard</span></a></li>
        <li><a href="typography.html" title="#"><i class="zmdi zmdi-format-color-text zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Typography</span></a></li>
        <li><a href="grid.html" title="#"><i class="zmdi zmdi-view-dashboard zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Grid</span></a></li>
        <li><a href="tables.html" title="#"><i class="zmdi zmdi-view-day zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Tables</span></a></li>
        <li><a href="forms.html" title="#"><i class="zmdi zmdi-border-color zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Forms</span></a></li>
        <li class="sub js-submenu">
          <div><i class="zmdi zmdi-tune zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">UI elements <i class="zmdi zmdi-plus plus"></i></span></div>

          <ul>
            <li><a href="color-schemes.html" title="#">Color schemes</a></li>
            <li><a href="icons.html" title="#">Icons</a></li>
            <li><a href="modals.html" title="#">Modals</a></li>
            <li><a href="alerts.html" title="#">Alerts</a></li>
            <li><a href="accordion.html" title="#">Accordion</a></li>
            <li><a href="tabs.html" title="#">Tabs</a></li>
            <li><a href="buttons.html" title="#">Buttons</a></li>
          </ul>
        </li>
        <li class="sub js-submenu">
          <div><i class="zmdi zmdi-format-clear-all zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Pages <i class="zmdi zmdi-plus plus"></i></span></div>

          <ul>
            <li><a href="user-profile.html" title="#">User Profile</a></li>
            <li><a href="cards.html" title="#">Cards</a></li>
            <li><a href="login.html" title="#">Sign In</a></li>
            <li><a href="sign-up.html" title="#">Sing Up</a></li>
            <li><a href="forgot-password.html" title="#">Forgot Password</a></li>
          </ul>
        </li>
        <li class="sub js-submenu">
          <div><i class="zmdi zmdi-playlist-plus zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Extras <i class="zmdi zmdi-plus plus"></i></span></div>

          <ul>
            <li><a href="gallery-grid.html" title="#">Gallery <span class="label label-info">New</span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    
    <!-- Pending tasks -->
    <div class="progessInfo hidden-xs hidden-sm">
      <h2 class="boxTitle">Pending tasks <span class="badge">8</span></h2>

      <ul>
        <li>
          <div class="title">Calendar</div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
              <span class="sr-only">85% Complete</span>
            </div>
          </div>
        </li>
        <li>
          <div class="title">Breadcrumbs</div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-green active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </li>
        <li>
          <div class="title">FAQ</div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-blue active" role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100" style="width: 17%;">
              <span class="sr-only">17% Complete</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  
  <!-- Page Wrap -->
  <div class="pageWrap">

    <!-- Page content -->
    <div class="pageContent extended">
      <div class="container">
        <div class="boxHeader pageBoxHeader clearfix">
          <h1 class="pageTitle pull-left">
            <a href="#" title="#">Dashboard</a>
          </h1>
          <ol class="breadcrumb">
              <li><a href="dashboard.html">Sharpen</a></li>
              <li class="active">Dashboard</li>
            </ol>
          <div class="btn-group pull-right boxHeaderOptions">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Today</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Yesterday</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last week</a></li>
              <li><a href="#" title="#"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i> Last month</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Statsbar -->
        <div class="statsBar">
          <div class="row">
            
            <div class="col-xs-12 col-md-4 i yellow">
              <a href="#" title="#" class="c">
                <h3 class="title">Subscriber Count</h3>
                <div class="num">
                  <%= Subscriber.count(:subscriber_phone_number) %>
                </div>
              </a>
            </div>
            
            <div class="col-xs-12 col-md-4 i pink">
              <a href="#" title="#" class="c">
                <h3 class="title">Messages Sent</h3>
                <div class="num">
                  <%= Message.count %>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 i green">
              <a href="#" title="#" class="c">
                <h3 class="title">Revenue Recovered</h3>
                <div class="num">£12,789
                  <%= number_with_delimiter(@number, :delimiter => ',') %>
                </div>
              </a>
            </div>
          </div>
        </div>

       

              





  <!-- Search modal -->
  <div class="modal fade in" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <input type="text" class="form-control" placeholder="Type search term...">
            <button type="submit" class="btn">Go</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="visible-xs visible-sm extendedChecker"></div>
  
</body>

  <%= render "shared/dashboard_js" %>

</html>