<%= render "shared/dashboard_css" %>

<%= form_for @message, :html => { :class => "form-horizontal message" } do |f| %>

  <% if @message.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sms_message_body, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sms_message_body, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sms_message_body) %>
  </div>
  <div class="form-group">
    <%= f.label :appointment_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :appointment_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:appointment_time) %>
  </div>
  <div class="form-group">
    <%= f.label :appointment_discount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :appointment_discount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:appointment_discount) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                messages_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

 <%= render "shared/dashboard_js" %>


