<div id="wrapper">

<!-- Navigation - from Shared -->
<%= render "shared/dashboard_navigation" %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <br>
            <!-- Dashboard Panel - from Shared -->
            <%= render "shared/dashboard_panel" %>

            <!-- PAGE CONTENT HERE -->
            <%- model_class = Message -%>
            
            <div class="page-header">
              <h1>Sent <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:id) %></th>
                  <th><%= model_class.human_attribute_name(:sms_message_body) %></th>
                  <th><%= model_class.human_attribute_name(:appointment_time) %></th>
                  <th><%= model_class.human_attribute_name(:claim_appointment_url) %></th>
                  <th><%= model_class.human_attribute_name(:appointment_discount) %></th>
                  <th><%= model_class.human_attribute_name(:created_at) %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @messages.each do |message| %>
                  <tr>
                    <td><%= link_to message.id, message_path(message) %></td>
                    <td><%= message.sms_message_body %></td>
                    <td><%= message.appointment_time %></td>
                    <td><%= message.claim_appointment_url %></td>
                    <td><%= message.appointment_discount %></td>
                    <td><%=l message.created_at %></td>
                    <td>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_message_path(message), :class => 'btn btn-default btn-xs' %>
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  message_path(message),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-xs btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <%= link_to t('.new', :default => t("helpers.links.new")), new_message_path, :class => 'btn btn-primary' %>      
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>          
  </div>
<!-- /#wrapper -->

<!-- Metis Menu Plugin JavaScript -->
<%= javascript_include_tag "metisMenu.min" %>

<!-- Custom Theme JavaScript -->
<%= javascript_include_tag "sb-admin-2" %>






