<div id="wrapper">

<!-- Navigation - from Shared -->
<%= render "shared/dashboard_navigation" %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <br>
            <!-- Dashboard Panel - from Shared -->
            <%= render "shared/dashboard_panel" %>

            <!-- PAGE CONTENT HERE -->
            <%- model_class = Message -%>
            <div class="page-header">
              <h1>Create <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
            </div>
            <%= render :partial => 'form' %>
        </div>
        <!-- /.col-lg-12 -->
      </div>
    </div>          
  </div>
<!-- /#wrapper -->

<!-- Metis Menu Plugin JavaScript -->
<%= javascript_include_tag "metisMenu.min" %>

<!-- Custom Theme JavaScript -->
<%= javascript_include_tag "sb-admin-2" %>